<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Meu Diário</title>
</head>
<body>
    <header>
        <h1>Meu diário Pessoal</h1>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('add') }}">Adicionar Fato</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
